.sizePickerContainer {
    display: grid;
    gap: 10px;
    width: 100%;

    .size {
      font-size: .6875rem;
      font-weight: 400;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 20px;
      border: .0625rem solid #333;
      cursor: pointer;
    }
  
    .sizeSelected {
      color: white;
      background-color: #333;
    }
  
    .sizeNotPicked {
      opacity: 0.8;
    }
  
    .unavailableItem {
      color: gray;
      border: 1px solid gray;
      opacity: 0.4;
    }
  }
  