.paymentIcons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 16px;

  .icon {
    flex: 0 0 auto;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .icon {
      height: 36px;
    }
  }
}