.formContainer{
  color: black;
  display: flex;
  width: 300px;
  height: 42px;

  .submitButton{
    cursor: pointer;
    width: 20%;
    color: black;
    border: 1px solid black;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow-right-email{
      width: 40px;
      font-size: 24px;
      color: black;
    }
    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }
  input {
    border-radius: 0;
    width: 82%;
    border: 1px solid black;
    font-size: 12px;
    padding-left: 8px;
    background: transparent;
    &:focus{
      outline:none;
    }
  }

  input[type="search"] {
    -webkit-appearance: none;
  }
  input:focus {
    outline: none;
  }
}
