.emailFormContainer{
  .emailForm{
      color: black;
      display: flex;
      width: 300px;
      height: 50px;
      #emailInput {
          width: 82%;
          border: 2px solid black;
          font-size: 16px;
          padding-left: 4px;
          font-weight: bold;
          background: transparent;
          &:focus{
            outline:none;
          }
      }
      .submitButton{
          cursor: pointer;
          width: 20%;
          color: black;
          border: 2px solid black;
          border-left: none;
          display: flex;
          align-items: center;
          justify-content: center;
          .arrow-right-email{
              width: 40px;
              font-size: 24px;
              color: black;
            }
            &:hover {
              background-color: rgba(0,0,0,.1);
            }
      }
    }



  }

.sidebarEmailFormContainer{
  .emailForm{
    font-size: 0.8rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999591;
    margin-bottom: 24px;
    width: 100%;
    input{
      background-color: transparent;
      border: 0;
      color: black;
      letter-spacing: .05em;
      padding: 0;
      border: none;
      margin: 0;
      background: none;
      border-radius: 0;
      width: 100%;
      right: 0;
      top: 4px;
      &:focus {
          outline: none !important;
        }
    }
    ::placeholder {
      color: #999591;
    }
    .submitButton{
      cursor: pointer;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }

  .isSidebar {
    color: white;
  }
}
.messageContainer{
  height: 25px;
  .errorMessage{
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .successMessage {
    text-align: left;
    color: green;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

.isNotSidebar {
  width: 300px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
