.accordionContainer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

.accordionItem {
  border-bottom: 1px solid #e5e5e5;
}

.accordionHeader {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: none;
  border: none;
  width: 100%;
  padding: 20px 0;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: #000;
  }

  svg {
    transition: transform 0.3s ease;
  }

  .open {
    transform: rotate(180deg);
  }
}

.accordionContent {
  padding: 0 0 20px 0;
  font-size: 0.95rem;
  color: #444;
}
