.artistPreview {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  color: #333;
  border-bottom: 1px solid #e7eae9;

  .artistHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7eae9;
    padding-bottom: 6px;
  }

  .artistDetails {
    h3 {
      font-size: 16px;
      font-weight: 400;
      color: #111;
      margin: 0;
    }

    .instagram {
      font-size: 13px;
      color: #777;
      text-decoration: none;
      display: inline-block;
      margin-top: 2px;

      &:hover {
        color: #000;
      }
    }
  }

  .seeMore {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .artworkGrid {
    display: flex;
    gap: 8px;
    justify-content: flex-start;

    .artworkItem {
      display: flex;
      background: none;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        width: 120px;
        height: auto;
      }

      p {
        font-size: 12px;
        color: #666;
        margin-top: 4px;
      }
    }
  }
}

@media (max-width: 762px) {
  .artistPreview {
    .artistDetails {
      h3 {
        font-size: 0.7rem;
      }

      .instagram {
        font-size: 0.7rem;
      }

    }
    .seeMore {
      font-size: 0.7rem;
    }

    .artworkGrid {
      .artworkItem {
        img {
          width: 80px;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}
