.tabContent {
  p {
    color: #666;
    line-height: 1.2;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 8px;
  }

  .imgContainer {
    width: 100%;
    height: 200px;
    margin: 16px 0;
    img {
      position: relative;
      object-fit: cover;
      width: 64px;
    }
  }
  @media (max-width: 762px) {
    font-size: 0.7rem;
  }
}