.showPageDesktopContainer {
  display: flex; // Switch to flex for better control
  min-height: 100vh; // Ensure initial viewport height
  height: auto; // Allow the container to grow with content

  .leftSide {
    width: 50vw; // Half the width
    background-color: #E7EAE9;
    position: relative;

    .imagesContainer {
      width: 100%;
      position: relative; // For sticky dots

      img {
        object-fit: cover;
        width: 50vw;
        height: 100vh; // Allow images to stack naturally
      }
    }
    .previewImages {
      position: fixed;
      top: 60px;
      left: 10px;
      display: flex;
      flex-direction: column;
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin: 8px;
        background-color: gray;
        opacity: 0.5;
      }
    }
  }

  .productDescription {
    padding: 10% 7% 0;
    display: flex;
    flex-direction: column;
    position: sticky;
    right: 0;
    top: 0;
    width: 50%;
    height: fit-content;
    background-color: #fff;
    z-index: 2;

    .titleAndReference {
      margin-bottom: 24px;

      h1 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        color: rgb(123, 132, 135);
      }
    }

    .descriptionAndQuantity {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      .description {
        font-size: 14px;

        h3 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 8px;
        }

        p {
          font-size: 14px;
          color: #000;
          margin: 4px 0;
        }
      }

      .quantity {
        display: flex;
        align-items: flex-end;

        .quantityPicker {
          font-size: 14px;
          display: flex;
          align-items: center;

          .changeQuantityDown,
          .changeQuantityUp {
            cursor: pointer;
            font-size: 16px;
            padding: 0 12px;
            color: #000;
          }
        }
      }
    }

    .fitInfo {
      margin-bottom: 24px;

      h3 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        color: #000;
      }
    }

    .sizePicker {
      margin-bottom: 24px;
    }

    .productAddToCart {
      .buttonContainer {
        width: 100%;
      }
    }

    .tabContentWrapper {
      flex: 1; // Take up remaining space
      min-height: 200px; // Fixed height to prevent layout shift
      overflow-y: auto; // Allow scrolling within tab content
      margin-bottom: 24px;
    }


  }
  
  .paymentAndShipping {
    margin: 32px 0;
  
  
    .shippingInfo {
      display: flex;
      justify-content: space-between;
  
      .shippingItem {
        // text-align: center;
        // flex: 1;
        display: flex;
        align-items: center;
        padding: 16px;
        width: 49%;
        background-color: #f8f8f8;
        color: #727272;
        
        svg {
          color: #727272;
          width: 60px; // Match the SVG width
          height: 42px; // Match the SVG height
        }
  
        p {
          font-size: 12px;
          color: #666;
          margin: 8px 0;
        }
      }
    }
  }

}
.recommendedProductsWrapper {
  margin-top: 32px;
  padding: 1.5rem;
}

.disclaimer {
  margin-top: 32px;
  padding: 1.5rem;
  a {
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .showPageDesktopContainer {
    .productDescription {
      padding: 7% 5%;
    }
  }
}