.showPageMobile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 90.5vh;

  .imageContainer {
    justify-content: flex-end;
    background: #F2F2F4;
    position: relative;
    height: 60%;
    overflow: hidden;

    .productCarousel {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .slider-container{
        height: 100% !important;
      }
    }

    .dotsContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      position: absolute;
      bottom: 10px;
      width: 64px;
      background: rgba(0, 0, 0, 0.5);
      background-color: rgb(255, 255, 255);

      right: calc(50% - 32px);
      border-radius: 16px;

      .dot {
        font-size: 4px;
        border-radius: 50%;
        margin: 6px 4px;
        color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: 0.2s;
      }

      .colored {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .imageContainerLarge{
    height: 85%;
  }

  .closed {
    text-align: center;

    img {
      transition: 0.4s;
      margin: auto;
      width: 20vh;
  }

    .dotsContainer{
      .dot{
        opacity: 0;
        transition: 0.4s;
        height: 0;
      }
    }
    flex-grow: 1;
  }

  .mobileInfo {
    margin-top: 1.5rem;
    padding: 0 1rem;


    .titlePrice {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      
      h1 {
        font-size: 13px;
        width: 60%;
        margin-top: 0;
      }

      p {
        margin-top: 0;
        font-weight: 400;
      }
    }

    .description {
      height: calc(30vh + 5vw);
      padding: 0 1rem;
      transition: 0.4s;
      overflow: hidden;

      .openDescriptionBtn {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        font-size: 16px;
        cursor: pointer;

        .icon {
          display: flex;
          align-items: center;
          transition: 0.4s;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .descriptionInner {
        text-align: left;
        height: 24vh;
        overflow: scroll;
      }

      .descriptionInnerLarge {
        text-align: left;
        height: 30vh;
        overflow: scroll;
      }
      

      .sizingLink {
        text-decoration: underline;
      }
    }

  }
  .shippingInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;

    @media (max-width: 768px) {
      padding-top: 0;
    }

    .shippingItem {
      display: flex;
      align-items: center;
      padding: 16px;
      margin-bottom: 16px;
      width: 49%;
      background-color: #f8f8f8;
      color: #727272;
      
      svg {
        color: #727272;
        width: 60px; // Match the SVG width
        height: 42px; // Match the SVG height
      }

      p {
        font-size: 12px;
        color: #666;
        margin: 8px 0;
      }
    }
  }
  .recommendedProductsWrapper {
    margin-top: 1rem;
    padding: 1rem;
  }

  .disclaimer {
    // margin-top: 16px;
    padding: 1.5rem;
    a {
      text-decoration: underline;
    }
  }

  .flexGrow1 {
    flex-grow: 1;
  }

  .addToCart {
    margin: 0.8rem 0 1.5rem;
    height: 32px;


    .half {
      height: 100%;
      width: 50%;

      button {
        font-size: 14px;
      }
    }
  }
}
